# Visual Studio 설정 및 빌드 Output 관련 디렉토리 제외
.vs
WExpert/bin
WExpert/obj
WExpert/packages
WExpert.Core/bin
WExpert.Core/obj
WExpert.Core/packages
WExpert.Update/bin
WExpert.Update/obj
WExpert.Update/packages
WExpert.Tests.MSTest/bin
WExpert.Tests.MSTest/obj
InnoSetup/Output
InnoSetup/Source/WExpert